/*-------GENERAL------*/

html, body {
	font-family: Roboto;
	font-size: 16px;
	line-height: 1.4;
	height: 100%;
	margin: 0;
	padding: 0;
}
.header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 66px;
	line-height: 66px;
	color: #FFF;
	background-color: #2e7d32;
	
}
a {
	text-decoration: none;
	color: inherit;
}


/*---------MENU--------*/

#logo {
	font-weight: bold;
	padding: 0.25px;
	float: left;
	height: 80px;
}
.menu {
	position: absolute;
	float:left
}
#menu a { padding: 0 10px;}
#menu a:hover {color: #c6ff00;}
#ancre {
	visibility: hidden;
}
			
/*--------CONTAINER--------*/

.container {
	padding-top: 66px;
	margin: 0 20px;
}
dl {
	text-align:left;
}
h2 {
	font-family: "Ubuntu Condensed";
}

/*---------UPBUTTON----------*/

#button {
	height: 25px;
	position: fixed;
	bottom : 1%;
	right: 1%;
}
/*#uplink {
	position: fixed;
	bottom : 0;
	right: 0;
       }*/


/*-------RESPONSIVE-------*/


@media screen and (max-width: 460px){
		a {
		display: none;
		}
}

